<div class="container">

    <!-- Sidebar toggler -->
    <div class="sidebar-toggler mr-1 mr-lg-0">
      <div class="d-block d-lg-none">
        <svg class="sidebar-toggle-icon" viewBox="0 0 100 100" width="40" onclick="this.classList.toggle('active')">
        <path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"></path>
        <path class="line middle" d="m 70,50 h -40"></path>
        <path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"></path></svg>
      </div>
    </div>

  <div class="logo">
    <a href="/" title="Homepage of the Jamstack club">
      <img class="logo-img" width="26" height="26" alt="Logo" src="{{ "images/logo/jamstack-club-logo.svg" | relURL }}"/>
      <span class="logo-title"> Jamstack.club</span>
    </a>
  </div>
  {{ partial "main-menu.html" . }}
  <div class="submit">
    <span class="contribute d-none d-lg-block">Come in,&nbsp;<a href="https://github.com/RoneoOrg/jamstack.club#readme" rel="nofollow">we're open!</a></span>
    <a class="github" href="https://github.com/RoneoOrg/jamstack.club#readme" rel="nofollow"><img width="26" height="26" alt="Github Repo" src="{{ "images/icons/github.svg" | relURL }}"/></a>
    <a class="twitter" href="https://twitter.com/jamstackclub" rel="nofollow"><img width="26" height="26" alt="Twitter Account" src="{{ "images/social/twitter.svg" | relURL }}"/></a>
  </div>
</div>
