<div class="newsletter widget">

  <div class="content newsletter-header">
    <h2 id="newsletter" class="newsletter-title">Get in the loop!</h2>
    <p><span class="newsletter-tagline">Receive hand-picked resources about the Jamstack, right in your mailbox.</span><br>
      <span class="newsletter-small"> No spam. Unsubscribe anytime.</span></p>
  </div>

  <form name="newsletter"  method="POST"   data-netlify="true" netlify-honeypot="bot-field">
    <input
      class="form-control valid"
      name="name"
      id="name"
      type="text"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Enter your Name'"
      placeholder="Enter your Name"
    />
    <input
      class="form-control valid"
      name="email"
      id="email"
      type="email"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Enter your Email'"
      placeholder="Enter your Email"
    />

    <input
      class="d-none"
      name="bot-field"
      placeholder="This is a spam detector, don't fill this out if you're a human."
    />

    <button type="submit" class="button">
      Yes, I'm in !
    </button>
  </form>

</div>
