<div class="newsletter widget">

  <div class="content newsletter-header">
    <h2>Join the list</h2>
    <p>Get updates and insights right in your mailbox. No spam. Unsubscribe anytime.</p>
  </div>

  <form name="newsletter"  method="POST"   data-netlify="true" netlify-honeypot="bot-field">
    <input
      class="form-control valid"
      name="email"
      id="email"
      type="email"
      onfocus="this.placeholder = ''"
      onblur="this.placeholder = 'Enter your Email'"
      placeholder="Enter your Email"
    />

    <button type="submit" class="button">
      Yes, I'm in !
    </button>
  </form>

</div>