<div class="sort">
<div class="sort-buttons">
  You can add filters from the sidebar and sort the themes by
  <!-- <button class="button mixitup-control-active" type="button" data-sort="default">Default</button> -->
  <button class="button" data-sort="stars:desc">Popularity</button>
  <button class="button" data-sort="submitted:desc" type="button">Publication</button>
  <button class="button" data-sort="last-commit:desc">Last Update</button>
  <button class="button mixitup-control-active" type="button" data-sort="default">Relevance</button>
</div>
</div>
