
<div class="action-buttons action-buttons-detail mb-0">
  <a class="action-button action-button-github" data-action="github" data-context="detail"
    data-name="{{ .Title }}" href="{{with .Params.github }}{{. | safeURL}}{{else}}{{.Params.Product | safeURL}}{{end}}" target="_blank" rel="nofollow noopener">{{if .Params.github}}Github{{else}}Website{{end}}</a>

  <a class="action-button action-button-demo" data-action="demo" data-context="detail" target="_blank"
    data-name="{{ .Title }}" href="/demo{{ .RelPermalink }}">Live Demo</a>
</div>